In [2]:
import pandas as pd
import numpy as np
import json

In [39]:
nli_output = pd.read_json('eval_output/eval_predictions.jsonl', lines=True)

nli_output['result'] = np.where(nli_output['label']==nli_output['predicted_label'], "Accurate", "Mistake")
nli_output['result_copy'] = nli_output['result']

nli_output.head()

,premise,hypothesis,label,predicted_scores,predicted_label,result,result_copy
0,Two women are embracing while holding to go pa...,The sisters are hugging goodbye while holding ...,1,"[-2.296041488647461, 4.715046405792236, -2.538...",1,Accurate,Accurate
1,Two women are embracing while holding to go pa...,Two woman are holding packages.,0,"[3.316367864608764, -1.679234862327575, -3.815...",0,Accurate,Accurate
2,Two women are embracing while holding to go pa...,The men are fighting outside a deli.,2,"[-4.425111770629883, -2.9563229084014893, 5.39...",2,Accurate,Accurate
3,"Two young children in blue jerseys, one with t...",Two kids in numbered jerseys wash their hands.,0,"[3.4208450317382812, -1.981903791427612, -3.62...",0,Accurate,Accurate
4,"Two young children in blue jerseys, one with t...",Two kids at a ballgame wash their hands.,1,"[-3.123510837554931, 3.180844068527221, 0.2076...",1,Accurate,Accurate

In [38]:
nli_output_by_premise = nli_output.groupby(['premise','result'])['result_copy'].count().reset_index().pivot_table(index = 'premise', columns = 'result').reset_index()
nli_output_by_premise.fillna(0,inplace = True)
nli_output_by_premise.head()

                                                  premise result_copy
result                                                       Accurate Mistake
0       2 people in blue and purple costumes are looki...         3.0     0.0
1       2 rows of woman walking towards each other on ...         2.0     1.0
2        2 woman walking down the street next to graffiti         1.0     2.0
3             3 people having coffee outside of a museum.         3.0     0.0
4       3 people sitting in a boat, rowing in a large ...         3.0     0.0

In [36]:
nli_output_by_premise[(nli_output_by_premise['result_copy', 'Mistake']>0.0) 
                     &(nli_output_by_premise['result_copy', 'Accurate']==0.0)]

                                                  premise result_copy
result                                                       Accurate Mistake
295                     A determined crosscountry runner.         0.0     3.0
688      A little girl is walking over a path of numbers.         0.0     3.0
1467    A smiling policewoman holding a blue axe and w...         0.0     1.0
1520    A thrill seeker uses her arms for balance whil...         0.0     1.0
1591    A woman holds her child out of a red window, n...         0.0     1.0
1796    A wrestler in purple curls up in a ball while ...         0.0     2.0
1947               A young puppy suckles from his mother.         0.0     3.0
2074    At an outdoor event in an Asian-themed area, a...         0.0     3.0
2171    Four children playing at a preschool, one look...         0.0     3.0
2727    Three hikers are hiking in a mountain filled w...         0.0     2.0
2846    Two children lined up outside in a grassy fiel...         0.0     3.0
3034    Two people are walking towards a wooded building.         0.0     1.0

In [37]:
nli_output_by_premise[(nli_output_by_premise['result_copy', 'Mistake']==0.0) 
                     &(nli_output_by_premise['result_copy', 'Accurate']>0.0)]

                                                  premise result_copy
result                                                       Accurate Mistake
0       2 people in blue and purple costumes are looki...         3.0     0.0
3             3 people having coffee outside of a museum.         3.0     0.0
4       3 people sitting in a boat, rowing in a large ...         3.0     0.0
6       3 people, one man playing a guitar while sitti...         3.0     0.0
7       3 women and 2 men waiting by a wall in the par...         3.0     0.0
...                                                   ...         ...     ...
3314     well dressed man and woman dancing in the street         3.0     0.0
3315    woman with not a whole lot of clothes on playi...         3.0     0.0
3316               women in a hat a making selling goods.         3.0     0.0
3317    women wearing black tank top cutting another w...         3.0     0.0
3318    young female in striped shirt holding baby boy...         3.0     0.0

[2405 rows x 3 columns]

In [42]:
with pd.ExcelWriter('nli_output_marked.xlsx', engine='xlsxwriter') as writer:
    nli_output.to_excel(writer, sheet_name='nli output')
    nli_output_by_premise.to_excel(writer, sheet_name='nli output by premise')

In [9]:
qa_output = pd.read_json('eval_output_qa/eval_predictions_qa.jsonl', lines = True)

In [10]:
qa_output

,id,title,context,question,answers,predicted_answer
0,56be4db0acb8001400a502ec,Super_Bowl_50,Super Bowl 50 was an American football game to...,Which NFL team represented the AFC at Super Bo...,"{'text': ['Denver Broncos', 'Denver Broncos', ...",Denver Broncos
1,56be4db0acb8001400a502ed,Super_Bowl_50,Super Bowl 50 was an American football game to...,Which NFL team represented the NFC at Super Bo...,"{'text': ['Carolina Panthers', 'Carolina Panth...",Carolina Panthers
2,56be4db0acb8001400a502ee,Super_Bowl_50,Super Bowl 50 was an American football game to...,Where did Super Bowl 50 take place?,"{'text': ['Santa Clara, California', 'Levi's S...","San Francisco Bay Area at Santa Clara, California"
3,56be4db0acb8001400a502ef,Super_Bowl_50,Super Bowl 50 was an American football game to...,Which NFL team won Super Bowl 50?,"{'text': ['Denver Broncos', 'Denver Broncos', ...",Carolina Panthers
4,56be4db0acb8001400a502f0,Super_Bowl_50,Super Bowl 50 was an American football game to...,What color was used to emphasize the 50th anni...,"{'text': ['gold', 'gold', 'gold'], 'answer_sta...",gold
...,...,...,...,...,...,...
10565,5737aafd1c456719005744fb,Force,"The pound-force has a metric counterpart, less...",What is the metric term less used than the New...,"{'text': ['kilogram-force', 'pound-force', 'ki...",The pound-force
10566,5737aafd1c456719005744fc,Force,"The pound-force has a metric counterpart, less...",What is the kilogram-force sometimes reffered ...,"{'text': ['kilopond', 'kilopond', 'kilopond', ...",kilopond
10567,5737aafd1c456719005744fd,Force,"The pound-force has a metric counterpart, less...",What is a very seldom used unit of mass in the...,"{'text': ['slug', 'metric slug', 'metric slug'...",kilogram-force
10568,5737aafd1c456719005744fe,Force,"The pound-force has a metric counterpart, less...",What seldom used term of a unit of force equal...,"{'text': ['kip', 'kip', 'kip', 'kip', 'kip'], ...",sthène
10569,5737aafd1c456719005744ff,Force,"The pound-force has a metric counterpart, less...",What is the seldom used force unit equal to on...,"{'text': ['sthène', 'sthène', 'sthène', 'sthèn...",kilogram

In [4]:
mnli_output = pd.read_json('eval_output_mnli/eval_predictions.jsonl', lines=True)

mnli_output['result'] = np.where(mnli_output['label']==mnli_output['predicted_label'], "Accurate", "Mistake")
mnli_output['result_copy'] = mnli_output['result']

In [5]:
mnli_output.head()

,premise,hypothesis,label,idx,predicted_scores,predicted_label,result,result_copy
0,The new rights are nice enough,Everyone really likes the newest benefits,1,0,"[-0.233887940645217, 2.226482629776001, -1.997...",1,Accurate,Accurate
1,This site includes a list of all award winners...,The Government Executive articles housed on th...,2,1,"[-2.8484292030334473, -1.433066606521606, 3.16...",2,Accurate,Accurate
2,uh i don't know i i have mixed emotions about ...,"I like him for the most part, but would still ...",0,2,"[-0.37061578035354603, 1.8392161130905151, -1....",1,Mistake,Mistake
3,yeah i i think my favorite restaurant is alway...,My favorite restaurants are always at least a ...,2,3,"[-2.2399263381958012, -0.883810579776763, 2.42...",2,Accurate,Accurate
4,i don't know um do you do a lot of camping,I know exactly.,2,4,"[-2.343526363372802, -2.139444589614868, 3.307...",2,Accurate,Accurate

In [6]:
mnli_output_by_premise = mnli_output.groupby(['premise','result'])['result_copy'].count().reset_index().pivot_table(index = 'premise', columns = 'result').reset_index()
mnli_output_by_premise.fillna(0,inplace = True)
mnli_output_by_premise.head()

                                                  premise result_copy
result                                                       Accurate Mistake
0         There's nothing like the trendy resort cloth...         0.0     3.0
1                     "An egg has got to hatch," he said.         3.0     0.0
2                   "Give it to me." He handed it to her.         2.0     1.0
3        "So your girl writes that your little farewel...         2.0     1.0
4        "The summons was only for Dave Hanson," Ser P...         2.0     1.0

In [8]:
mnli_output_by_premise[(mnli_output_by_premise['result_copy', 'Mistake']>0.0) 
                     &(mnli_output_by_premise['result_copy', 'Accurate']==0.0)]

                                                  premise result_copy
result                                                       Accurate Mistake
0         There's nothing like the trendy resort cloth...         0.0     3.0
41      'Dave Hanson, to whom nothing was impossible.'...         0.0     3.0
154     A newly unified Christian Spain under the Cath...         0.0     3.0
170     A student visa overstayer is not going to be a...         0.0     3.0
201     After the recovery of Jerusalem in 1099, it to...         0.0     3.0
...                                                   ...         ...     ...
3280    yeah well the uh NC double A tournament's goin...         0.0     3.0
3287    yeah yeah seven percent or something it depend...         0.0     2.0
3305    yes they would they just wouldn't be able to o...         0.0     3.0
3309    you can get a hard copy of it and that's about it         0.0     3.0
3311                     you don't think it's a deterrent         0.0     3.0

[128 rows x 3 columns]

In [9]:
mnli_output_by_premise[(mnli_output_by_premise['result_copy', 'Mistake']==0.0) 
                     &(mnli_output_by_premise['result_copy', 'Accurate']>0.0)]

                                                  premise result_copy
result                                                       Accurate Mistake
1                     "An egg has got to hatch," he said.         3.0     0.0
5        "You're not going to marry him, do you hear?"...         3.0     0.0
7        8th circa b.c.Greeks colonize Sicily and othe...         3.0     0.0
14                         He grimaced at his own doubts.         3.0     0.0
16                                    It was utterly mad.         3.0     0.0
...                                                   ...         ...     ...
3320    you know like CODA comes out of your out of yo...         3.0     0.0
3322    you know our church each year has a one of the...         3.0     0.0
3323    you know some of the really the really emotion...         3.0     0.0
3325    you know they they like what they're doing the...         3.0     0.0
3333                    … I succeeded in my false career.         3.0     0.0

[1166 rows x 3 columns]

In [ ]:
# Trained on snli and evaluating on mnli give less accuracy 
# How would be the other way around?

In [ ]:
# Check the model after training and before training

In [1]:
from transformers import AutoTokenizer, AutoModelForSequenceClassification, \
    AutoModelForQuestionAnswering, Trainer, TrainingArguments, HfArgumentParser

In [2]:
model = AutoModelForSequenceClassification.from_pretrained('google/electra-small-discriminator')

Some weights of ElectraForSequenceClassification were not initialized from the model checkpoint at google/electra-small-discriminator and are newly initialized: ['classifier.dense.weight', 'classifier.out_proj.weight', 'classifier.out_proj.bias', 'classifier.dense.bias']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

In [3]:
model

ElectraForSequenceClassification(
  (electra): ElectraModel(
    (embeddings): ElectraEmbeddings(
      (word_embeddings): Embedding(30522, 128, padding_idx=0)
      (position_embeddings): Embedding(512, 128)
      (token_type_embeddings): Embedding(2, 128)
      (LayerNorm): LayerNorm((128,), eps=1e-12, elementwise_affine=True)
      (dropout): Dropout(p=0.1, inplace=False)
    )
    (embeddings_project): Linear(in_features=128, out_features=256, bias=True)
    (encoder): ElectraEncoder(
      (layer): ModuleList(
        (0-11): 12 x ElectraLayer(
          (attention): ElectraAttention(
            (self): ElectraSelfAttention(
              (query): Linear(in_features=256, out_features=256, bias=True)
              (key): Linear(in_features=256, out_features=256, bias=True)
              (value): Linear(in_features=256, out_features=256, bias=True)
              (dropout): Dropout(p=0.1, inplace=False)
            )
            (output): ElectraSelfOutput(
              (dense): Linear(in_features=256, out_features=256, bias=True)
              (LayerNorm): LayerNorm((256,), eps=1e-12, elementwise_affine=True)
              (dropout): Dropout(p=0.1, inplace=False)
            )
          )
          (intermediate): ElectraIntermediate(
            (dense): Linear(in_features=256, out_features=1024, bias=True)
            (intermediate_act_fn): GELUActivation()
          )
          (output): ElectraOutput(
            (dense): Linear(in_features=1024, out_features=256, bias=True)
            (LayerNorm): LayerNorm((256,), eps=1e-12, elementwise_affine=True)
            (dropout): Dropout(p=0.1, inplace=False)
          )
        )
      )
    )
  )
  (classifier): ElectraClassificationHead(
    (dense): Linear(in_features=256, out_features=256, bias=True)
    (dropout): Dropout(p=0.1, inplace=False)
    (out_proj): Linear(in_features=256, out_features=2, bias=True)
  )
)

In [4]:
trained_model = AutoModelForSequenceClassification.from_pretrained('trained_model/')

In [5]:
trained_model

ElectraForSequenceClassification(
  (electra): ElectraModel(
    (embeddings): ElectraEmbeddings(
      (word_embeddings): Embedding(30522, 128, padding_idx=0)
      (position_embeddings): Embedding(512, 128)
      (token_type_embeddings): Embedding(2, 128)
      (LayerNorm): LayerNorm((128,), eps=1e-12, elementwise_affine=True)
      (dropout): Dropout(p=0.1, inplace=False)
    )
    (embeddings_project): Linear(in_features=128, out_features=256, bias=True)
    (encoder): ElectraEncoder(
      (layer): ModuleList(
        (0-11): 12 x ElectraLayer(
          (attention): ElectraAttention(
            (self): ElectraSelfAttention(
              (query): Linear(in_features=256, out_features=256, bias=True)
              (key): Linear(in_features=256, out_features=256, bias=True)
              (value): Linear(in_features=256, out_features=256, bias=True)
              (dropout): Dropout(p=0.1, inplace=False)
            )
            (output): ElectraSelfOutput(
              (dense): Linear(in_features=256, out_features=256, bias=True)
              (LayerNorm): LayerNorm((256,), eps=1e-12, elementwise_affine=True)
              (dropout): Dropout(p=0.1, inplace=False)
            )
          )
          (intermediate): ElectraIntermediate(
            (dense): Linear(in_features=256, out_features=1024, bias=True)
            (intermediate_act_fn): GELUActivation()
          )
          (output): ElectraOutput(
            (dense): Linear(in_features=1024, out_features=256, bias=True)
            (LayerNorm): LayerNorm((256,), eps=1e-12, elementwise_affine=True)
            (dropout): Dropout(p=0.1, inplace=False)
          )
        )
      )
    )
  )
  (classifier): ElectraClassificationHead(
    (dense): Linear(in_features=256, out_features=256, bias=True)
    (dropout): Dropout(p=0.1, inplace=False)
    (out_proj): Linear(in_features=256, out_features=3, bias=True)
  )
)